<h3>
  <a href="<%= profile_view_url :id=>@review.user_id, :only_path => true%>">
    <fb:name uid="<%=@review.user.facebook_uid%>" linked="false" useyou="false" />
  </a>
</h3>
<div>
	<p>
		<%= h @review.review %>
	</p>
</div>