<div class="section clearfix">
  <div class="bar_chart simple">
    <br />
    <a class="dh_new_media" href="<%= url_for :controller => :home, :action => :invite %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Invite Friends</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :courses, :action => :new_map %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Add a Course</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :tours, :action => :new %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Create a Tour</span>
          </div>
        </div>
      </div>
    </a>
    <br /><br />
    <a class="dh_new_media" href="<%= url_for :controller => :competitions, :action => :search_course %>">
      <div class="tr" style="width:160px">
        <div class="bl">
          <div class="br">
            <span>Create a Competition</span>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>