<div class="bar_chart simple">
  <br />
  <a class="dh_new_media" href="<%= url_for :controller => :home, :action => :invite %>">
          <div class="tr">
                  <div class="bl">
                          <div class="br">
                                  <span>Invite Friends</span>
                          </div>
                  </div>
          </div>
  </a>
</div