<div class="pandemic_bar clearfix">
	<a class="manager_icon" href="<%= url_for :controller => :home, :action => :index %>" />
	<ul class="clearfix">
		<li class="overview_nav">
			<a href="<%= url_for :controller => :home, :action => :index %>">Home</a>
		</li>
		<li class="courses_nav">
			<a href="<%= url_for :controller => :courses, :action => :index %>">Courses</a>
		</li>
	</ul>
	<div class="create_button">
		<%= link_to 'My Profile', :controller => :profile, :action => :index %>
	</div>
</div>

