<li>

<h1>
 <%= link_to recent_competition.name, :controller => :competitions, 
                                      :action => :show, :id => recent_competition.id %>
</h1>
	  
<span class="name">
   <a href="<%= profile_view_url :id=>recent_competition.user.id, :only_path => true%>">
   <fb:name uid='<%= recent_competition.user.facebook_uid %>' linked="false" useyou='false'></a>
   </fb:name>
</span>

<span class="played"><%= time_ago_in_words(recent_competition.created_at) %> ago</span>

</li>
