<h2><%= h @competition.name%></h2>
<div id="competition_description">
	<p>
	    <%= h @competition.description %>
	    <br />
	    <br />
	    Running from <%= h @competition.start_date %> to 
	    <%= h @competition.end_date %>

	</p>
</div>
