<div class="course_list_item clearfix">
	<div class="profile_img">
		<a href="#">
			<%= image_tag 'red_flag_hole.png' %>
		</a>
	</div>
	<h2>
	<%= link_to h(course.name), 
	            {:action => :show, :controller => :courses, :id => course.id }
        %> 
	</h2>
	<p>
	<%= truncate course.description, 200 %>
	</p>
	
       <%= link_to 'Host Competition', 
                    competition_add_course_url(:id => course.id, :only_path => true) %>
	
</div>
