<div class="course_list_item clearfix">
<div class="profile_img">
  <fb:profile-pic uid="<%=player.facebook_uid%>" linked="true" />
                  </div>
  <div>
    <h2><fb:name uid="<%=player.facebook_uid%>" linked="true" /></h2>
    <%if @scores[player].nil? %>
           <%= link_to 'Post Score', 
                 competition_add_round_url(:id => @competition.id, :only_path => true) %>
      <%else%>
      Your score: <%=@scores[player].score%>
    <%end%>
  </div>
</div>
