<div class="module clearfix page_panel_header no_border">
  <div class="header_page_summary clearfix">
    <div class="thumb">
    
      </div>
      <div class="info">
        <h2>Add Course to <b><%= @competition.name %></b></h2>
        <div id="sub_menu">
          <%= link_to 'Back to '+@competition.name, 
	                  {:action => :show, :id => @competition.id} %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => 'competitions_menu' %>

  <div id="page_panel">
    <div class="courses">
      <div class="main_column">
        <h2 class="first_card_section">Courses</h2>
      
          <%#= render :partial => 'competition_course', :object => @competition %>
                               
      </div>
      <div class="side_column">
        <div class="section">
          <%= render :partial => 'competition_actions' %>
        </div>
      </div>
    </div>
  </div>
