<h3>
	<%= @course.name %>
</h3>
<div style="text-align:right;horizontal-align=right;">
<fb:iframe frameborder=0 scrolling='no' width="600" height="400" src="<%= url_for({:host => '993440e2.fb.joyent.us:8888', :controller => :map, :action => :show, :id => @course.id, :size => 'large'} )%>">
</fb:iframe>
</div>
