{actor} rated <a href="{course_url}">{course_name}</a> {rating} out of 5. 
Check out other recent course ratings and rounds played on <%= link_to 'Golfbook', :controller => :home, :action => :index%>!