<h3>Actions</h3>
<div class="communication_item send_message clearfix">
    <%if @user.has_played_course? @course%>
        You have played this course
    <%else%>
        <%= link_to 'Mark as played', course_have_played_url(:id => @course.id, :only_path => true) %>
    <%end%>
</div>
<div class="communication_item send_message clearfix">
	<%= link_to 'Post Score', course_add_round_url(:id => @course.id, :only_path => true) %>
</div>
<div class="communication_item send_message clearfix">
	<%= link_to 'Want to Play', course_add_wishlist_url(:id => @course.id, :only_path => true) %>
</div>
