<h3>
	Location
</h3>
<div style="text-align:left;horizontal-align=left">
<fb:iframe frameborder=0 scrolling='no' width="320" height="200" src="<%= url_for({:host => '993440e2.fb.joyent.us:8888', :controller => :map, :action => :show, :id => @course.id, :size => 'small'} )%>">
</fb:iframe>
</div>
