<h3 clicktotoggle="course_friends_recent">
	Recent scores by your friends on this course
</h3>
<div id="course_friends_recent">
	<ul class="scorecard">
            <%if course_friends_recent.length > 0%>
		<% course_friends_recent.each do |round| %>
			<li>
				<fb:name uid="<%= round.user.facebook_uid %>" capitalize="true" /> shot a 
				<strong><%= link_to round.score, :controller => :round, :action => :show, :id => round.id %></strong>
 				here <%= time_ago_in_words(round.date_played) %> ago.
			</li>
		<% end %>
             <%else%>
                <li>No recent friend scores</li>
               <%end%>
	</ul>
</div>