<div id="course_description">
  <% unless @course.holes.blank? %>
    <p><strong>Holes:</strong> <%= @course.holes%></p>
  <% end %>
  <% unless @course.par.blank? %>
    <p><strong>Par:</strong> <%= @course.par%></p>
  <% end %>
  <p>
    <%= h @course.description %>
  </p>
</div>