<div id="course_map">
  <fb:iframe frameborder=0 scrolling='no' width="500" height="400" src="<%= url_for({:only_path => false, :controller => :map, :action => :shownew, :lng => params[:lng], :lat => params[:lat], :size => 'medium'} )%>">
      </fb:iframe>
</div>
