<h3>Course Stats</h3>
<div class="bar_chart simple">
	<h2 class="header">
		<span class="title"><%= @course.users.count %></span>
		<span class="title_label">Total <%= @course.players.count == 1 ? 'Player' : 'Players'.pluralize %></span>
		<span class="sub_title"/>
		<span class="title" style="clear:left"><%= @course.rounds.count %></span>
		<span class="title_label"><%= @course.rounds.count == 1 ? 'Round' : 'Round'.pluralize %> played</span>
		<span class="sub_title"/>
		<div style="clear: left; height: 0px;"/>
	</h2>
</div>