<h3>Actions</h3>
<div class="communication_item send_message clearfix">
	<%= link_to 'Post Score', course_add_round_url(:id => @course.id, :only_path => true) %>
</div>
<div class="communication_item send_message clearfix">
	<%= link_to 'Add to Target', course_add_wishlist_url(:id => @course.id, :only_path => true) %>
</div>
