<h3>
	Location
</h3>
<!--<p>The course is close to :
	<ul>
		<%= # render :partial => 'geolocation', :collection => @geolocations 
		%>
	</ul>
</p>-->
<div>
<fb:iframe frameborder=0 scrolling='no' width="390" height="300" src="<%= url_for({:only_path => false, :controller => :map, :action => :show, :id => @course.id, :size => 'medium'} )%>">
</fb:iframe>
</div>
