<div class="communication_item send_message clearfix">
  <%= link_to "My Courses", :controller => :courses, :action => :courses_played %>
</div>
<div class="communication_item send_message clearfix">
  <%= link_to "Top Rated", :controller => :courses, :action => :top_rated %>
</div>


