<div>
  <fb:iframe frameborder=0 scrolling='no' width="500" height="400" src="<%= url_for({:only_path => false, :controller => :map, :action => :newmap, :location=>params[:location]} )%>">
      </fb:iframe>
</div>
