      <div class="vitality_text_block clearfix">
        <span class="title"></span>
        <span class="title_label">Total Courses: <%= @courses_count || Course.count -%></span>
        <span class="sub_title"/>
        <div style="clear: left; height: 0px;"/>
      </div>
