	<div class="main_column">
	
			<h2 class="first_card_section">Highest rated courses near <%= h @location%></h2>

			<%= render :partial => 'course', :collection => @courses %>
	
	</div>
        <div class="side_column">
          <%= @sidebar_content %>
        </div>
