<div class="main_column clearfix">
  
  <h2 class="first_card_section">Courses near <%= h @location%></h2>
  
  <div class="course_list_item clearfix">
    <div>	
      <%= render :partial => 'loc_map.fbml.erb' %>
    </div>
  </div>
  
<%= render :partial => 'course', :collection => @courses %>
  
</div>
<div class="side_column">
  <%= @sidebar_content %>
</div>
