	<div class="main_column">
	
			<h2 class="first_card_section">Highest rated courses near <%= h @location%></h2>

			<%= render :partial => 'course', :collection => @courses %>
	
	</div>
        <div class="side_column">
                <div class="section">
                        <h3>Course Stats</h3>
                        <div class="bar_chart simple">
                                <h2 class="header">
                                        <span class="title"><%= @courses_count -%></span>
                                        <span class="title_label">Results</span>
                                        <span class="sub_title"/>
                                        <div style="clear: left; height: 0px;"/>
                                </h2>
                        </div>
                </div>
        </div>
