<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
			<a href="<%= url_for(:action => :index)%>">
				<img src="http://993440e2.fb.joyent.us:8888/images/blue_flag_hole.png" />
			</a>
		</div>
		<div class="info">
			<h2>Courses</h2>
			<div id="sub_menu">
				<%= link_to 'New Course', {:action => :new} %>
				<span class="pipe">|</span>
				<%= link_to 'Import Courses', {:action => :import} %>
			</div>			
		</div>
	</div>
</div>

<div id="page_panel">
	<div class="courses">
		<div class="main_column">
			<h2 class="first_card_section">All Courses</h2>

			<%= render :partial => 'course', :collection => @courses %>

		</div>
		<div class="side_column">
			<div class="section">
				<h3>Course Insights</h3>
			</div>
		</div>
	</div>
</div>