<div>
  <fb:iframe frameborder=0 scrolling='no' width="<%= width%>" height="<%= height%>" 
      src="<%= url_for({:only_path => false, :controller => :map, :action => :event_map, :id => @id} )%>">
  </fb:iframe>
</div>
