<div style="text-align:left;horizontal-align=left">
	<fb:iframe frameborder=0 scrolling='no' width="600" height="400" 
		src="<%= url_for({:host => '993440e2.fb.joyent.us:8889', :controller => :map, :action => @action, :id => @id, :size => 'large', :zoom => 12} )%>">
	</fb:iframe>
</div>