<div>
  <fb:iframe frameborder=0 scrolling='no' width="390" height="300" 
      src="<%= url_for({:only_path => false, :controller => :map, :action => @action, :id => @id, :size => 'medium', :zoom => 12} )%>">
  </fb:iframe>
</div>
