<a class="dh_new_media" href="<%= url_for :controller => :profile, :action => :index %>">
	<div class="tr">
		<div class="bl">
			<div class="br">
				<span>Set Goal</span>
			</div>
		</div>
	</div>
</a>