<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
			<a href="<%= url_for(:action => :index)%>">
				<img src="http://993440e2.fb.joyent.us:8889/images/ball_50.png" />
			</a>
		</div>
		<div class="info">
			<h2>Golfbook</h2>
			<p>Welcome to Golfbook <%= "#{@fbuser.first_name}"%></p>
		</div>
	</div>
</div>


<div id="mapcontainer">
  <div id="map">
      <fb:editor action="#" labelwidth="150">
          <fb:editor-text label="Search for courses near" name="location" value=""/>               
       </fb:editor>
      <!-- <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?ie=UTF8&amp;hl=en&amp;ll=-27.895915,24.691685&amp;spn=26.060358,41.132813&amp;z=5&amp;om=1&amp;output=embed&amp;s=AARTsJpnOA3ioEtcI9rx_v7gyZqlolGTYw"></iframe><br /><small><a href="http://maps.google.com/maps?ie=UTF8&amp;hl=en&amp;ll=-27.895915,24.691685&amp;spn=26.060358,41.132813&amp;z=5&amp;om=1&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small> -->
      <fb:iframe width="600px" height="350px" src="http://maps.google.com/maps?ie=UTF8&amp;hl=en&amp;ll=-27.895915,24.691685&amp;spn=26.060358,41.132813&amp;z=5&amp;om=1&amp;output=embed&amp;s=AARTsJpnOA3ioEtcI9rx_v7gyZqlolGTYw" />
      <div id="map-menu">
          <fb:tabs>
            <fb:tab-item href='#' title='Top Rated in Area' selected='true'/>
            <fb:tab-item href='#' title='I Have Played' />
            <fb:tab-item href='#' title='Wishlist' />
            <fb:tab-item href='#' title='Upcoming Tours' />
            <fb:tab-item href='#' title='Upcoming Competitions' />
          </fb:tabs>
    </div>            
  </div>
</div>