<div id="results" style="overflow: hidden">
  <div class="main_column clearfix">
    <div style="width:760px;">
    
    <h2 class="first_card_section">Where are <fb:name possessive="true" uid="<%= @user.facebook_uid %>"/> friends playing?</h2>
    <% simple_info_box_container do %>
      <% simple_info_box do %>
        <%= render :partial => 'courses/course_rounds', :locals => {:course_rounds => @recent_friends_rounds} %>
      <%#= render :partial => 'shared/recent_round_expanded', :collection => @recent_friends_rounds %>
      <% end %>
    <% end %>

    <h2 class="first_card_section">Recent Courses Played</h2>
    <% simple_info_box_container do %>
      <% simple_info_box do %>
        <%= render :partial => 'courses/course_rounds', :locals => {:course_rounds => @recent_courses_played} %>
        <%#= render :partial => 'friend_course', :collection => @recent_courses_played %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="side_column">
    <%= @sidebar_content %>
  </div>
</div>