/* 
    Document   : golfbook
    Created on : 2007/12/19, 07:59:24
    Author     : Armand du Plessis
    Description:
        Purpose of the stylesheet follows.
*/

#map {
    float:left;    
    margin-left:5px;
    margin-right:5px;
}
