/* 
    Document   : golfbook
    Created on : 2007/12/19, 07:59:24
    Author     : Armand du Plessis
    Description:
        Purpose of the stylesheet follows.

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

*/
body {
	font-family:verdana,arial,sans-serif;
	font-size:10px;
	padding:0;
	margin:0;
}

.clearfix {
	
}

html[xmlns] .clearfix {
    display: block;
}

.content {
	border-color:-moz-use-text-color #B7B7B7 rgb(59, 89, 152);
	border-style:none solid solid;
	border-width:medium 1px 1px;
	font-size:11px;
	padding-left:10px;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	text-align:left;
}

.header {
	background: transparent url(../images/golfflat.jpg) no-repeat bottom;
}

#banner {
    padding-left:10px;
    padding-top:5px;
}


.pandemic_bar_wrapper {
	padding-top:15px;
}

.pandemic_bar {
	background-color:#FAFAFA;
	border-bottom:1px solid #AAAAAA;
	border-top:1px solid #D0D0D0;
	padding-right:15px;
}

.pandemic_bar .manager_icon {
	background:transparent url(../images/g_16.jpg) no-repeat scroll left center;
	float:left;
	margin:0pt 8px 0pt 20px;
	padding:5px 0pt 6px;
}

.pandemic_bar ul {
	border-left:1px solid #898989;
	float:left;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:-1px 0pt;
	padding:0pt;
}

.pandemic_bar li {
	border-color:#898989 rgb(137, 137, 137) rgb(137, 137, 137) -moz-use-text-color;
	border-style:solid solid solid none;
	border-width:1px 1px 1px 0pt;
	float:left;
	position:relative;
}

.pandemic_bar li a, 
.create_button a {
	background:#F7F7F7 none repeat scroll 0%;
	border-top:1px solid #FFFFFF;
	color:#333333;
	display:block;
	font-size:11px;
	font-weight:bold;
	padding:4px 1px 6px;
	text-align:center;
	width:106px;
}

.create_button {
	border:1px solid #3B6E22;
	float:right;
	margin:-1px 0pt;
	position:relative;
	width:125px;
}

.create_button a {
	background:#67A54B url(../images/white_on_green_arrow.gif) no-repeat scroll right center;
	border-top:1px solid #95BF82;
	color:#FFFFFF;
	padding-right:15px;
	width:auto;
}

/* Sets the selected menu item */
.home_selected .overview_nav a:hover,
.courses_selected .courses_nav a:hover,
.wishlist_selected .courses_nav a:hover,
.tours_selected .tours_nav a:hover,
.competitions_selected .competitions_nav a:hover,
.pandemic_bar li.selected a:hover {
	text-decoration:none;
}

.pandemic_bar li.sub_page a:hover {
	text-decoration:underline;
}

.home_selected .overview_nav a,
.courses_selected .courses_nav a,
.wishlist_selected .courses_nav a,
.tours_selected .tours_nav a,
.competitions_selected .competitions_nav a,
.pandemic_bar li.selected a, .pandemic_bar li.sub_page a {
	background:#6D84B4 none repeat scroll 0%;
	border-top:0pt none;
	color:#FFFFFF;
	padding-top:5px;
}

.home_selected .overview_nav,
.courses_selected .courses_nav,
.wishlist_selected .courses_nav,
.tours_selected .tours_nav,
.competitions_selected .competitions_nav,
.pandemic_bar li.selected, .pandemic_bar li.sub_page {
	border:1px solid #3B5998;
	margin-left:-1px;
}

/* Control Panel Styles */

.page_panel_header .header_page_summary {
	float:left;
	width:500px;
}

.page_panel_header {
	padding-bottom:14px;
	padding-top:15px;
	width:100%;
}

.header_page_summary .thumb {
	float:left;
	padding:0pt 10px 0pt 20px;
}

.header_page_summary {
	float:left;
	width:500px;
}

.page_panel_header .header_page_summary .thumb a {
	background:white none repeat scroll 0%;
	display:block;
	height:50px;
	line-height:1px;
	width:50px;
}

.page_panel_header .header_page_summary .info {
	float:left;
}

.main_column {
	float:left;
	padding-right:10px;
	width:430px;
}

.side_column {
	padding-left:6px;
	padding-top:0px;
	vertical-align:top;
	width:180px;
	float:right;
}
.main_column h2.first_card_section {
	padding-top:0pt;
}
.main_column h2 {
	padding:7px 0pt 6px 10px;
}

.side_column .section {
	margin-bottom:20px;
}

.section h3 {
	background:#EFEBEF none repeat scroll 0%;
	font-size:11px;
	margin-bottom:12px;
	padding:4px 6px;
}

/* Pagination */

.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #3b5998;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #3b5998;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #3b5998;
  font-weight: bold;
  background-color: #3b5998;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

/* Bar chart */
.bar_chart {
	margin-top:-7px;
	padding:0pt;
}

.bar_chart .header {
	border-bottom:3px solid #CCCCCC;
	margin:0pt;
	padding:0pt 0pt 3px;
}

.bar_chart .header .title {
	font-size:23px;
	padding-left:1px;
}

.bar_chart .header .title {
	color:#333333;
	display:block;
	float:left;
	font-family:Helvetia,Arial,default;
	font-size:33px;
}

.bar_chart .header .title_label {
	height:10px;
	margin-top:9px;
}
.bar_chart .header .title_label {
	color:#777777;
	display:block;
	float:left;
	font-size:11px;
	font-weight:normal;
	height:20px;
	margin:5px 0pt 0pt 5px;
}

.main_column .card {
	background:white none no-repeat scroll 7px;
	border:1px solid #CECFCE;
	margin:0pt 4px 5px;
	padding:7px 10px 11px 30px;
	width:390px;
}

.main_column .card h3 span {
	font-size:90%;
	font-weight:normal;
}

.small_hole_card, .small_hole_card {
	 background-image: url(../images/hole_small.png)
}

#map #small, .small {
	width:380px;
	height:280px;
}

#map #medium, .medium {
	width:400px;
	height:320px;
}

#map #large, .large {
	width:600px;
	height:400px;
}

.editor {
	margin:3px auto 7px;
}

.editor .inputtext, .editor .inputpassword {
	margin-left:0px;
	width:300px;
}
.inputtext, .inputpassword {
	border:1px solid #BDC7D8;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:3px;
}

.editor .label {
	color:#666666;
	font-weight:bold;
	padding-right:10px;
	text-align:right;
}

.editor .buttons {
	padding:10px 0px 0px;
	text-align:center;
}

.editor_panel {
	background:#F7F7F7 none repeat scroll 0%;
	padding:10px 0px;}

.main_column .card h3 {
	border-bottom:1px solid #EFE7EF;
	margin-bottom:6px;
	padding-bottom:2px;
}

/* Type ahead */
.suggest_placeholder { 
	color: #777; 
} 
.suggest_found { 
	background: #e1e9f6; 
} 
.suggest_pretext { color: #aaa; } 

.suggest_list { 
	background: transparent; 
	border: 1px solid #bdc7d8; 
	border-top: none; 
	font-size: 13px; 
	margin-top: -1px; 
	overflow: hidden; 
	position: absolute; 
	text-align: left; 
	z-index: 102; 
} 
.suggest_list .suggest_suggestion 
{
	 background: #fff; border-top: 1px solid #ddd; color: #000; cursor: pointer; padding: 3px; opacity: 0.94; width: 100%; } .suggest_list .suggest_suggestion em { background: #d8dfea; color: black; font-style: normal; font-weight: bold; } .suggest_list .suggest_suggestion small { color: #808080; padding-left: 5px; } .suggest_list .suggest_selected { background: #3b5998; color: #fff; opacity: 1; } .suggest_list .suggest_selected em { background: #5670a6; color: #fff; }

.city_input {
	width:500px;
	margin-left: auto;
	margin-right:auto;
}	
	
.inputbutton, .inputsubmit {
	background-color:#3B5998;
	border-color:#D9DFEA rgb(14, 31, 91) rgb(14, 31, 91) rgb(217, 223, 234);
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
	font-size:11px;
	padding:2px 15px 3px;
	text-align:center;
}


.info_window .info_rating {
	text-align:right;
}

.info_window ul {
}

.info_window li {
	/* display:inline; */
}

.small_list {
	margin:0px;
	padding:0px;
	list-style: none;
}

.small_list h1 {
	display:inline;
}

.small_list .name {
}

.small_list .played {
	display:block;
	padding-bottom:5px;
}

.round {
	
}

.round .score {
	float:right;
	font-size:33px;
}

.recent_rounds {
	padding-bottom:10px;
	font-size:90%;
}

.recent_rounds h4 {
	padding:0px 0pt 0px 20px;
	border-bottom:1px solid #D8DFEA;
	margin:0pt 0pt 0px;
	font-size:14px;
}

.recent_rounds ul {
	clear:left;
	float:left;
	list-style: none inside;
}

.recent_rounds li {
	width:180px;
	float:left;
	padding-right:10px;
}

.recent_rounds li h1 {
	display:inline;
}

.info_window {
}

.info_window ul {
	margin:0px;
	padding-left:0px;
	list-style: none inside;
}

.info_window li {
}

.small_hole_card h3 {
	
}

.small_hole_card h3:hover {
	cursor:pointer;
}

ol.scorecard {
	padding:0;
	margin:0;
}

ul.scorecard {
	padding:0;
	margin:0;
	list-style: none inside;
}

/* Star Ratings */

 .star-rating{
     list-style:none;
     margin: 0px;
     padding:0px;
     width: 150px;
     height: 30px;
     position: relative;
     background: url(http://993440e2.fb.joyent.us/images/star_rating.gif) top left repeat-x;        
 }
 .star-rating li{
     padding:0px;
     margin:0px;
     /*\*/
     float: left;
     /* */
 }
 .star-rating li a{
     display:block;
     width:30px;
     height: 30px;
     text-decoration: none;
     text-indent: -9000px;
     z-index: 20;
     position: absolute;
     padding: 0px;
 }
 .star-rating li a:hover{
     background: url(http://993440e2.fb.joyent.us/images/star_rating.gif) left center;
     z-index: 2;
     left: 0px;
     border:none;
 }
 .star-rating a.one-star{
     left: 0px;
 }
 .star-rating a.one-star:hover{
     width:30px;
 }
 .star-rating a.two-stars{
     left:30px;
 }
 .star-rating a.two-stars:hover{
     width: 60px;
 }
 .star-rating a.three-stars{
     left: 60px;
 }
 .star-rating a.three-stars:hover{
     width: 90px;
 }
 .star-rating a.four-stars{
     left: 90px;
 }    
 .star-rating a.four-stars:hover{
     width: 120px;
 }
 .star-rating a.five-stars{
     left: 120px;
 }
 .star-rating a.five-stars:hover{
     width: 150px;
 }
 .star-rating li.current-rating{
     background: url(http://993440e2.fb.joyent.us/images/star_rating.gif) left bottom;
     position: absolute;
     height: 30px;
     display: block;
     text-indent: -9000px;
     z-index: 1;
 }

.star-rating li.current-rating-rated {
  background: url(http://993440e2.fb.joyent.us/images/star_rating.gif) left bottom;
  position: absolute;
  height: 30px;
  display: block;
  text-indent: -9000px;
  z-index: 1;
}

.inputsearch {
	padding-left:20px;
}

.rating-big {
	float:right;
	color:#333333;
	display:block;
	float:left;
	font-family:Helvetia,Arial,default;
	font-size:33px;
}

.rightcontent{
 float:right;
 text-align:right;
}

.leftcontent{
	 float:left;
}


.expanded_profile_pic {
	padding-right:5px;
}

.expanded_rating {
	width:50%;
}

.expanded_rating .info {
	color:#333333;
	font-size:8px;
}

.expanded_rating .info {
	padding:0px;
	margin:0px;
}

.expanded_rating a:visited {
	color:#333333;
	font-size:8px;
}