<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<a href="<%= url_for(:action => :index)%>"><h2>Tours</h2></a>
			<!--div id="sub_menu"><%=link_to 'Tours Home', {:controller => :tours, :action => :index} %>
			</div-->			
		</div>
	</div>
</div>