<div class="course_list_item clearfix">
	<div class="profile_img">
		<a href="#">
			<%= image_tag 'red_flag_hole.png' %>
		</a>
	</div>
	<h2>
		<%= link_to h(tour.name), {:action => :show, :controller => tours, :id => tour.id }%> 
	</h2>
	<p>
		<%= truncate tour.description, 200 %>
	</p>
	
         <a href="#">Link 1</a><span class="pipe">|</span><a href="#">Link 2</a>
</div>