<div class="module clearfix page_panel_header no_border">
	<div class="header_page_summary clearfix">
		<div class="thumb">
		</div>
		<div class="info">
			<a href="<%= url_for(:action => :index)%>"><h2>Tours</h2></a>
			<div id="sub_menu"><%=link_to 'Tours Home', {:controller => :home, :action => :index} %>
			</div>			
		</div>
		<a class="dh_new_media" href="<%= url_for :controller => :tours, :action => :new %>">
			<div class="tr">
				<div class="bl">
					<div class="br">
						<span>New Tour</span>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>