<li>
	<span class="name">
		<h3><%= link_to upcoming_tour.tour.name, :controller => :tours, :action => :show, :id => upcoming_tour.tour.id %></h3>
	</span>
	<span class="name"><%= upcoming_tour.to_play_at.to_s %> - 
		<%= link_to upcoming_tour.course.name, :controller => :courses, :action => :show, :id => upcoming_tour.course.id %>
	</span>
</li>
